<div *ngIf="employee">
    <div class="container" >
    <div class="card">
    <div class="card-head"><h2>Update Employee</h2></div>
    <div class="card-body">
    <form [formGroup]="formEmployee" (ngSubmit)="update()" >
    <div class="form-group">
    <label for="name">name</label>
    <input type="text"
    class="form-control"
    id="name"
    placeholder="Enter Name"
    formControlName="name"
   >
    </div>
    <div class="form-group">
    <label for="email">Email</label>
    <input type="email"
    class="form-control"
    id="email"
    placeholder="Enter email"
    formControlName="email"
  >
    
    </div>
<div class="form-group">
<label for="phone">Phone Number</label>
<input type="number"
class="form-control"
id="phone"
placeholder="Enter phone"
formControlName="phone"
>

</div>
<div class="form-group">
    <label for="job">Job</label>
    <input type="text"
    class="form-control"
    id="job"
    placeholder="Enter job"
    formControlName="job"
    >
    
    </div>
    <div class="form-group">
    <label for="photo">Photo</label>
    <input type="file" accept="image/*" (change)="selectImage($event)"
    class="form-control-file">
    </div>
    <div class="form-group">
    <label for="department">Department</label>
    <select class="form-control"
    [compareWith]="compareDep"
    formControlName="department"  style="height: 50px;">
    <option selected hidden ngValue="" >Choose a department</option>
    <option *ngFor="let d of departments" [ngValue]="d" >{{d.name}}</option>
    </select></div> <br>
    
    <button [disabled]="!formEmployee.valid" class="btn btn-primary">Submit</button>
    
    </form>
    </div></div></div></div>